* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  scroll-padding-top: 3rem !important;
  user-select: none !important;

  /* -- DEBUG -- */
  /* outline: 1px solid red; */
}

html,
body {
  background-image: url('./imgs/bg-image.jpg');
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

a {
  text-decoration: none;
  color: currentColor;
}

p {
  margin: 0 !important;
}

header {
  box-shadow: 0px 0px 10px 2px black;
}

section {
  height: 50vh;
}

#cfooter {
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(4px);
  color: #effeef;
  padding: 1rem;
  text-align: center;
  font-size: smaller;
}

#panel1-title > p {
  display: none;
}

#panel1-title {
  margin-bottom: 0px !important;
}

#why {
  display: flex;
  justify-content: center;
  align-items: center;
}

#why-inner {
  width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px black;
  margin: 0rem 1rem;
  backdrop-filter: blur(2px);
}

#why-inner > h1 {
  margin-bottom: 1rem;
}

#why-inner > p {
  color: #ddd;
}

#wb-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

#websites > h1 {
  height: auto;
  text-align: center;
  margin-bottom: 1rem;
}

#website > hr {
  background-color: red;
}

#wb-title,
#why-inner > h1 {
  font-size: xx-large;
  color: whitesmoke;
}

.nav-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.nav-content[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

.ccard {
  backdrop-filter: blur(4px) !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  width: 18rem !important;
  box-shadow: 0px 0px 10px 2px black !important;
  color: white !important;
  margin: 0 auto !important;
}

.nav-content > div {
  overflow: hidden;
}

.cnav {
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(2px);
  color: #effeef;
}

.nav-panel {
  padding: 1rem;
}

.cnav h2 {
  position: relative;
}

.nav-trigger {
  background: transparent;
  border: 0;
  font: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
}

.nav-trigger > img {
  width: 2rem;
  margin-right: 1rem;
  transition: transform 500ms;
}

.cbtn {
  margin-top: 10px !important;
}

.nav-trigger[aria-expanded="true"] img {
  transform: rotate(45deg);
}

.nav-content div {
  display: grid;
  color: aquamarine;
}

.nav-content div a {
  font-size: larger;
  color: currentColor;
  margin-top: 1rem;
}

.nav-content > div a:hover {
  opacity: 1 !important;
  color: aquamarine !important;
}

.nav-content > div:not(a:hover) a {
  opacity: 0.75;
  color: aqua;
  transition: all 500ms;
}

.ccdate {
  color: #6c757d;
  font-weight: 400;
  font-size: .8rem;
}

@media screen and (min-width: 900px) {
  #why-inner {
    padding: 4rem 2rem;
    box-shadow: 0px 0px 10px 10px black;
    margin: 0rem 2rem;
  }

  #panel1-title > p {
    display: block;
    margin-bottom: 0rem;
  }

  .card {
    margin: 0 !important;
  }

  .nav-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .nav-content div a {
    width: fit-content;
    margin-top: 0;
  }

  .nav-content {
    grid-template-rows: 1fr;
  }

  .nav-content > div {
    overflow: visible;
    display: flex;
    justify-content: flex-end;
    align-self: center;
  }

  .nav-content > div a {
    margin: 0 1rem;
  }

  .nav-trigger {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  #wb-container {
    width: 1200px;
  }
}